*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343f4f;
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-text{
    color: aquamarine;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    line-height: 80PX;
}
.dynamic-txts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343f4f;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(23) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
